@{
    ViewData["Title"] = "Student Tracker Client";
}

@using TrackerClient.Models

<h3>Students:</h3>
@if (ViewBag.Students.Count != 0)
{
    <ul id="home-student-list" class="student-list">
        @foreach (Student student in ViewBag.Students) {
            <a href='@Url.Action("Details", "Students", new { id= @student.StudentId })'>
                <div>@student.FirstN @student.LastN</div>
            </a>
        }
    </ul>
}
else 
{
    <p>No students found.</p>
}
@if (User.Identity.IsAuthenticated) {
    @await Html.PartialAsync("CreateStudentModal", new Student())
    <button onclick="showModal('create-student-modal')" class="green">Create a new Student</button>
}

<h3>Coaches:</h3>
@if (ViewBag.Coaches.Count != 0)
{
    <ul id="home-coach-list" class="coach-list">
        @foreach (Coach coach in ViewBag.Coaches) {
            <a href='@Url.Action("Details", "Coaches", new { id= @coach.CoachId })'>
                <div>@coach.FirstN @coach.LastN</div>
            </a>
        }
    </ul>
}
else 
{
    <p>No students found.</p>
}
@if (User.Identity.IsAuthenticated) {
    @await Html.PartialAsync("CreateCoachModal", new Coach())
    <button onclick="showModal('create-coach-modal')" class="green">Create a new Coach</button>
}