@model TrackerClient.Models.Promotion

<div id="promote-student-modal" class="modal promote-modal obscured hidden">
  <div class="modal-message">Promote Student @Model.Student.FirstN @Model.Student.LastN</div>
  @using (Html.BeginForm("Create", "Students"))
  {
    <select name="CoachId">
      @foreach (Coach coach in ViewBag.Coaches) {
        <option name="CoachId" value=@coach.CoachId>@coach.FirstN @coach.LastN</option>
      }
    </select>
    <div class="form-row">
      @Html.LabelFor(model => model.PromotionDate, "Promotion Date")
      @Html.TextBoxFor(model => model.PromotionDate, new { @type="date" })
    </div>
    <button class="green" type="submit">Promote student</button>
  }

  <div class="button-area">
    <button onclick="hideModal('promote-student-modal')">Cancel</button>
  </div>
</div>