@model TrackerClient.Models.Student

<div id="create-student-modal" class="modal create-modal obscured hidden">
  <div class="modal-message">New Student</div>
  @using (Html.BeginForm("Create", "Students"))
  {
    <div class="form-row">
      @Html.LabelFor(model => model.FirstN, "First Name")
      @Html.TextBoxFor(model => model.FirstN)
    </div>
    <div class="form-row">
      @Html.LabelFor(model => model.LastN, "Last Name")
      @Html.TextBoxFor(model => model.LastN)
    </div>
    <div class="form-row">
      @Html.LabelFor(model => model.Email)
      @Html.TextBoxFor(model => model.Email)
    </div>
    <div class="form-row">
      @Html.LabelFor(model => model.DateEnrolled, "Enrollment Date")
      @Html.TextBoxFor(model => model.DateEnrolled, new { @type="date" })
    </div>
    <div class="form-row">
      @Html.LabelFor(model => model.BeltId, "Belt ID")
      @Html.TextBoxFor(model => model.BeltId, new { @type = "number" })
    </div>
    <button class="green" type="submit">Add student</button>
  }

  <div class="button-area">
    <button onclick="hideModal('create-student-modal')">Cancel</button>
  </div>
</div>